* {
  box-sizing: border-box;
}
.container {
  width: 100%;
  position: relative;
  display: block;
  margin: 0 auto;
  max-width: 1281px;
  padding-left: 26px;
}
body {
  margin: 0 auto;
  padding-top: 92px;
}
.upt-header {
  position: fixed;
  top: 0;
  left: 0;
  display: block;
  height: 92px;
  width: 100%;
  background-color: #fff;
  z-index: 999;
}
.upt-header__navigation {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
}
.upt-header__navigation__logo {
  position: relative;
  display: block;
  width: 200px;
  height: 55px;
}
.upt-header__navigation__menu {
  position: relative;
  display: block;
  padding-left: 0px;
  list-style: none;
  display: flex;
  justify-content: space-between;
}
.upt-header__navigation__menu__item {
  position: relative;
  display: block;
  margin-left: 94px;
}
.upt-header__navigation__menu__item__link {
  font-family: 'Arial';
  font-size: 24px;
  letter-spacing: 0.06em;
  text-decoration: none;
  color: #414141;
}
.upt-section {
  position: relative;
  display: block;
}
.upt-section.upt-section--hero {
  padding-top: 51px;
  background-color: #fdfdfd;
  margin-bottom: 170px;
}
.upt-section--hero__header {
  position: relative;
  display: flex;
  justify-content: space-between;
}
.upt-section--hero__header__heading {
  text-align: left;
  font: normal normal bold 70px/80px Arial;
  letter-spacing: 0px;
  color: #414141;
  margin-top: 25px;
  margin-bottom: 15px;
  opacity: 1;
}
.upt-section--hero__header__description {
  text-align: left;
  font: normal normal normal 24px/32px Arial;
  letter-spacing: 1.44px;
  color: #414141;
  margin: 0px;
  opacity: 1;
}
.upt-section--hero__body {
  position: relative;
  display: flex;
  margin-top: 36px;
  padding-left: 84px;
  justify-content: flex-start;
  padding-bottom: 78px;
}
.upt-section__cta-box {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 23px;
  opacity: 1;
  max-width: 330px;
  height: 265px;
  position: relative;
  display: block;
  margin-right: 35px;
  padding: 40px 32px 35px 32px;
}
.upt-section__cta-box__title {
  text-align: left;
  font: normal normal 500 27px/27px 'Roboto';
  letter-spacing: 0.86px;
  margin: 0px;
  color: #414141;
  opacity: 1;
}
.upt-section__cta-box__description {
  text-align: left;
  font: normal normal 400 16px/22px 'Roboto';
  letter-spacing: 0px;
  margin: 0px;
  margin-top: 12px;
  color: #414141;
  opacity: 1;
}
.upt-section__cta-box__button {
  position: relative;
  display: block;
  background: transparent
    linear-gradient(
      180deg,
      #217ca5 0%,
      #1b6687 36%,
      #1b6687 36%,
      #1b6687 36%,
      #113e53 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 22px;
  text-decoration: none;
  margin-top: 38px;
}
.upt-section__cta-box__button.upt-section__cta-box__button--yellow {
  background: transparent linear-gradient(360deg, #ba9519 0%, #f4cc49 100%) 0%
    0% no-repeat padding-box;
}
.upt-section__title {
  text-align: left;
  font: normal normal 700 36px/40px 'Roboto';
  letter-spacing: 1.15px;
  color: #14526e;
  opacity: 1;
  margin-bottom: 0px;
}
.upt-section__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.upt-section__content__column {
  position: relative;
  display: block;
  width: 378px;
}
.upt-section__content__list {
  padding-left: 0px;
  list-style: none;
  margin-top: 0px;
}
.upt-section__content__list__item {
  position: relative;
  display: flex;
  margin-bottom: 50px;
  justify-content: flex-start;
  align-items: center;
}
.upt-section__content__list__item__text {
  text-align: left;
  font: normal normal bold 16px/22px Arial;
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
  position: relative;
  margin-left: 29px;
}
.upt-section__content__list__item:last-child:after {
  display: none;
}
.upt-section__content__list__item::after {
  box-shadow: 0px 3px 6px #00000029;
  border: 2px solid #ffffff;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 200px;
  left: 120px;
  opacity: 1;
}
.upt-form {
  position: relative;
  display: flex;
  flex-direction: column;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 12px;
  opacity: 1;
  width: 364px;
  height: 427px;
  padding: 40px 23px;
}
.upt-form__link {
  text-align: left;
  font: normal normal normal 14px/28px Arial;
  letter-spacing: 0px;
  color: #40bccc;
  opacity: 1;
  text-decoration: none;
  margin-bottom: 47px;
}
.upt-form__input {
  background: transparent
    linear-gradient(180deg, #ffffff 0%, #fdfdfd 100%, #ffffff 100%) 0% 0%
    no-repeat padding-box;
  box-shadow: 1px 1px 1px #00000012;
  border: 1px solid #f4f4f4;
  border-radius: 6px;
  opacity: 1;
  position: relative;
  display: block;
  padding: 20px;
  padding-left: 13px;
  text-align: left;
  font: normal normal normal 17px/30px Arial;
  letter-spacing: 0px;
  color: #818181;
  opacity: 1;
  width: 100%;
  margin-bottom: 20px;
}
.upt-form__input::placeholder {
  font-style: italic;
}
.upt-form__button {
  position: relative;
  display: block;
  width: 100%;
  background: transparent
    linear-gradient(
      180deg,
      #217ca5 0%,
      #1b6687 36%,
      #1b6687 36%,
      #1b6687 36%,
      #113e53 100%
    )
    0% 0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
  padding: 22px;
  border: none;
  text-decoration: none;
  margin-top: 28px;
}
.upt-section__footer {
  position: relative;
  display: block;
  margin-top: 50px;
}
.upt-section__footer__title {
  position: relative;
  text-align: center;
  font: normal normal 300 24px/30px 'Roboto';
  letter-spacing: 0px;
  color: #afafaf;
  opacity: 1;
}
.upt-section__footer__title::after {
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #ffffff;
  content: '';
  display: block;
  position: absolute;
  bottom: -10px;
  width: 200px;
  left: 50%;
  margin-left: -100px;
  opacity: 1;
}
.upt-section__footer__content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  padding-left: 79px;
  padding-right: 79px;
}
.upt-section__footer__content__column {
  position: relative;
  display: block;
}
.upt-testimonial {
  position: relative;
  display: block;
  width: 510px;
}
.upt-testimonial__image {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}
.upt-testimonial__text {
  text-align: left;
  font: italic normal normal 20px/32px Arial;
  letter-spacing: 0.4px;
  color: #707070;
  opacity: 1;
}
.upt-testimonial__autor {
  text-align: left;
  font: normal normal bold 20px/32px Arial;
  letter-spacing: 0.4px;
  color: #707070;
  opacity: 1;
}
.upt__section__title {
  text-align: left;
  font: normal normal 700 36px/40px 'Roboto';
  letter-spacing: 1.15px;
  color: #14526e;
  opacity: 1;
  margin-top: 248px;
  margin-bottom: 0px;
}
.upt-section__top {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 100px;
}
.upt-section__top__column {
  position: relative;
  display: block;
}
.upt-benefitsbox {
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 23px;
  opacity: 1;
  max-width: 330px;
  height: 314px;
  position: relative;
  display: block;
  margin-right: 21.3px;
  padding: 9px;
  padding-top: 39px;
}
.upt-benefitsbox__title {
  text-align: center;
  font: normal normal 500 24px/32px 'Roboto';
  letter-spacing: 0px;
  color: #414141;
  opacity: 1;
}
.upt-benefitsbox__text {
  text-align: left;
  font: normal normal 400 16px/22px 'Roboto';
  letter-spacing: 0px;
  margin: 0px;
  margin-top: 12px;
  color: #414141;
  opacity: 1;
}
.upt-benefitsbox__image {
  position: relative;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.upt-section__bottom {
  position: relative;
  margin-top: 105px;
}
.upt-section__bottom__title {
  text-align: center;
  font: normal normal normal 36px/40px Arial;
  letter-spacing: 0.79px;
  color: #414141;
}
.upt-section__bottom__text {
  text-align: center;
  font: normal normal normal 24px/40px Arial;
  letter-spacing: 0.53px;
  color: #414141;
  margin-bottom: 50px;
}
.upt-section__bottom__button {
  position: relative;
  display: block;
  background: transparent linear-gradient(360deg, #ba9519 0%, #f4cc49 100%) 0%
    0% no-repeat padding-box;
  border-radius: 22px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  cursor: pointer;
  padding: 22px;
  border: none;
  text-decoration: none;
  margin: 0 auto;
  margin-bottom: 70px;
  width: 254px;
}
.upt-section__bottom__carousel {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-left: 132px;
  margin-right: 132px;
  margin-bottom: 150px;
}
.upt-coursebox {
  position: relative;
  display: block;
  padding: 0px;
  padding-bottom: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
  max-width: 310px;
  height: 465px;
  padding: 0px;
  padding-bottom: 10px;
  margin-right: 17px;
}
.upt-coursebox__image {
  position: relative;
  display: block;
  text-align: center;
  width: 310px;
}
.upt-coursebox__title {
  position: relative;
  text-align: left;
  font: normal normal bold 18px/30px Arial;
  letter-spacing: 0.44px;
  color: #626060;
  opacity: 1;
  margin-top: 30px;
  margin-left: 14px;
}
.upt-coursebox__subtitle {
  text-align: left;
  font: normal normal 500 12px/24px 'Roboto';
  letter-spacing: 2.4px;
  color: #626060;
  opacity: 1;
  margin-top: 15px;
  margin-left: 14px;
}
.upt-coursebox__description {
  text-align: left;
  font: normal normal 400 12px/24px 'Roboto';
  letter-spacing: 0.08em;
  color: #626060;
  opacity: 1;
  margin-top: 8px;
  margin-left: 14px;
}
.upt-coursebox__button {
  position: absolute;
  display: block;
  background: transparent linear-gradient(180deg, #40bccc 0%, #205e66 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 14px;
  border: none;
  text-decoration: none;
  width: 99px;
  right: 15px;
  bottom: 10px;
}
.footer {
  position: relative;
  display: block;
  background: transparent linear-gradient(180deg, #217ca5 0%, #113e53 100%) 0%
    0% no-repeat padding-box;
  opacity: 1;
}
.footer__content {
  position: relative;
  display: flex;
  justify-content: flex-start;
  padding-top: 35px;
  padding-left: 132px;
  color: #fff;
  padding-right: 132px;
}
.footer__content__column {
  position: relative;
  display: flex;
  padding-bottom: 157px;
}
.footer__content__column__column {
  position: relative;
  display: block;
}
.footer__content__column__title {
  text-align: left;
  font: normal normal bold 18px/30px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-right: 20px;
}
.footer__content__column__text {
  text-align: left;
  font: normal normal bold 16px/30px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  margin-right: 90px;
}
.footer__content__column__column__list {
  list-style: none;
  margin-top: 0px;
  padding-left: 0px;
}
.footer__content__column__column__list__item__link {
  text-decoration: none;
  text-align: left;
  font: normal normal bold 16px/30px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.upt-section__catalog {
  position: relative;
  margin-top: 38px;
}
.upt-section__catalog__title {
  text-align: left;
  font: normal normal normal 36px/40px Arial;
  letter-spacing: 0.79px;
  color: #414141;
  margin-top: 38px;
}
.upt-section__catalog__text {
  text-align: left;
  font: normal normal normal 24px/40px Arial;
  letter-spacing: 0.53px;
  color: #414141;
  margin-bottom: 50px;
}
.upt-section__catalog__grid {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 150px;
}
.upt-catalogbox {
  position: relative;
  display: block;
  padding: 0px;
  padding-bottom: 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 5px;
  opacity: 1;
  max-width: 360px;
  height: 486px;
  padding: 0px;
  padding-bottom: 10px;
  margin-right: 70px;
}
.upt-catalogbox__image {
  position: relative;
  display: block;
  text-align: center;
  width: 100%;
  max-height: 226px;
  overflow: hidden;
}
.upt-catalogbox__title {
  position: relative;
  text-align: left;
  font: normal normal bold 22px/30px Arial;
  letter-spacing: 0.44px;
  color: #626060;
  opacity: 1;
  margin-top: 13px;
  margin-left: 14px;
}
.upt-catalogbox__autor {
  text-align: left;
  font: normal normal normal 12px/24px Arial;
  letter-spacing: 0px;
  color: #626060;
  opacity: 1;
  margin-top: 4px;
  margin-left: 14px;
  margin-bottom: 13;
}
.upt-catalogbox__text {
  text-align: left;
  font: normal normal normal 12px/24px Arial;
  letter-spacing: 0px;
  color: #626060;
  opacity: 1;
  margin-top: 4px;
  margin-left: 14px;
}
.upt-catalogbox__subtitle {
  text-align: left;
  font: normal normal 500 12px/24px 'Roboto';
  letter-spacing: 2.4px;
  color: #626060;
  opacity: 1;
  margin-left: 14px;
}
.upt-catalogbox__description {
  text-align: left;
  font: normal normal 400 12px/24px 'Roboto';
  letter-spacing: 0.96px;
  color: #626060;
  opacity: 1;
  margin-left: 14px;
}
.upt-catalogbox__button {
  position: absolute;
  display: block;
  background: transparent linear-gradient(180deg, #40bccc 0%, #205e66 100%) 0%
    0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 1;
  text-align: center;
  font: normal normal bold 16px/12px Arial;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
  padding: 14px;
  border: none;
  text-decoration: none;
  width: 99px;
  right: 15px;
  bottom: 10px;
}
.upt-form.upt-form--login {
  border: none;
  margin: 0 auto;
  box-shadow: none;
}
.upt-form__text {
  text-align: left;
  font: normal normal 400 12px/20px 'Roboto';
  letter-spacing: 0px;
  color: #b2b7b7;
  margin-top: 10px;
}
.upt-form__text__link {
  text-align: left;
  font: normal normal 400 16px/20px 'Roboto';
  letter-spacing: 0px;
  color: #b2b7b7;
  text-decoration: none;
}
.upt-form.upt-form--resister {
  border: none;
  margin: 0 auto;
  box-shadow: none;
  width: 360px;
  height: 620px;
  margin-top: 50px;
  margin-bottom: 200px;
}
.upt-form__input.upt-form__input--role {
  font-style: normal;
  padding-right: 15px;
}
